<md-dialog aria-label="var" class="m-dialog--in-competence__var">
<!-- 		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Selector de Variables</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">close</md-icon>
				</md-button>
			</div>
		</md-toolbar> -->
		<md-dialog-content class="m-dialog__content m-side-panel--in-competence-modal">
		<div class="m-modal__competence-list">
			<div class="m-catalog-filter m-catalog-filter--in-competence js-filter-competence-catalog">
				<input type="text" class="m-input m-input--in-demography__catalog m-input--in-competence__catalog" ng-model="search" ng-change="quickCompetenceFilter()" placeholder="Filtro rápido">
			</div>
			<div style="overflow:hidden;">
				<wxy-push-menu menu="menu" options="_competence_options"></wxy-push-menu>
			</div>
		</div>
		<!-- <div layout-padding="10" ng-if="validateVariable">
			<md-progress-linear md-mode="indeterminate" ></md-progress-linear>
		</div> -->
		</md-dialog-content>
</md-dialog>