<div class="m-switcher">
	<button class="m-switcher__button">Mapa Base</button>
	<div class="m-switcher__base"></div>
	<ul class="m-switcher__options-list js-switcher-options">
		<li class="m-switcher__options-list__item" ><span class="js-switcher-options-item" data-map-id="mbx" data-basemap="mapbox">Mapbox</span></li>
		<li class="m-switcher__options-list__item"><span class="js-switcher-options-item" data-map-id="gg" data-basemap="g-satelite">Google Satélite</span></li>
		<li class="m-switcher__options-list__item"><span class="js-switcher-options-item" data-map-id="gg" data-basemap="g-normal">Google RoadMap</span></li>
	</ul>
</div>