<div class="m-login">
	<div class="m-login__container">
		<div class="container">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-5-24 pure-u-md-6-24 pure-u-lg-8-24"></div>
				<div class="pure-u-1 pure-u-sm-14-24 pure-u-md-12-24 pure-u-lg-8-24">
					<div class="m-login__container-body">
						<div class="m-login__container-body__logo">
							<img src="./images/login/login_logo.png" alt="" width="150">
						</div>
						<form action="" name="loginForm" class="m-login__container-body__form js-login-form">
							<fieldset class="m-fieldset">
							<label for="" class="m-label m-label--in-login" data-user="user">Usuario</label>
								<input type="text" class="m-input m-input--in-login" ng-model="lg.login.user" required>
							</fieldset>
							<fieldset class="m-fieldset">
							<label for="" class="m-label m-label--in-login" data-user="password">Password</label>
								<input type="password" class="m-input m-input--in-login" ng-model="lg.login.password" required>
							</fieldset>
							<div class="align-center">
								<span class="m-input-error" ng-if="lg.login.error">{{lg.login.error}}</span>
								<button type="button" class="pure-button m-login__container-body__button is-larger" ng-click="lg.submitLogin(loginForm, lg.login)">{{lg.login.status}}</button>
							</div>
						</form>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-5-24 pure-u-md-6-24 pure-u-lg-8-24"></div>
			</div>
		</div>
	</div>
</div>