md-dialog,
md-toolbar {
	@include radius(0 !important);
}

md-input-container {
	margin: 0;
	padding: 0px 8px !important;
}

md-select {
	padding: 0px 8px !important;
}

md-toolbar,
.md-toolbar-tools {
	font-size: 18px;
	height: 50px;
	min-height: 50px;
}
md-progress-linear {
	.md-default-theme.md-container,
	.md-container {
		background-color: $gray0 !important;
	}
}