md-dialog,
md-toolbar {
	@include radius(0 !important);
}

md-input-container {
	margin: 0;
	padding: 0px 8px !important;
}

md-select {
	padding: 0px 8px !important;
}

md-toolbar,
.md-toolbar-tools {
	height: 50px;
	min-height: 50px;
}
