
.m-button-ghost {
	background:transparent !important;
	color: $gray100 !important;
	@include transition(all linear 0.25s);
	&:hover {
		background:$gray100 !important;
		color: $white !important;
	}
}

.is-xsmall {
	font-size: 70% !important;
}

.is-small {
	font-size: 85% !important;
}

.is-large {
	font-size: 110% !important;
}

.is-larger {
	font-size: 125% !important;
}


.button-ghost-sit {
	color: $green-light-0 !important;
	@include transition(all linear 0.25s);
	&:hover {
		background:$green-light-0 !important;
		color: $white !important;
	}
}

.button-ghost-dot {
	color: $green-light-50 !important;
	@include transition(all linear 0.25s);
	&:hover {
		background:$green-light-50 !important;
		color: $white !important;
	}
}

.button-ghost-gd {
	color: $green-strong-50 !important;
	@include transition(all linear 0.25s);
	&:hover {
		background:$green-strong-50 !important;
		color: $white !important;
	}
}
