
.m-button-ghost {
	background:transparent !important;
	color: $gray !important;
	@include transition(all linear 0.25s);
	&:hover {
		background:$gray !important;
		color: $white !important;
	}
}

.is-xsmall {
	font-size: 70% !important;
}

.is-small {
	font-size: 85% !important;
}

.is-large {
	font-size: 110% !important;
}

.is-larger {
	font-size: 125% !important;
}


.button-ghost-sit {
	color: $green-lsmooth !important;
	@include transition(all linear 0.25s);
	&:hover {
		background:$green-lsmooth !important;
		color: $white !important;
	}
}

.button-ghost-dot {
	color: $green-lmedium !important;
	@include transition(all linear 0.25s);
	&:hover {
		background:$green-lmedium !important;
		color: $white !important;
	}
}

.button-ghost-gd {
	color: $green-ldark !important;
	@include transition(all linear 0.25s);
	&:hover {
		background:$green-ldark !important;
		color: $white !important;
	}
}
