.m-list {
	list-style-type: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.m-list__item {
	display: inline-block;
}

.m-list-maptools {
	@include box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
	background: $white;
	margin: 10px;
}

.m-list-maptools__item {
	padding: 10px;
	cursor:pointer;
	&:hover{
		background: $gray100;
		color: $white;
	}
}

.m-list-functions {
	@include box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
	background: #F5F5F5;
	margin:10px;
	padding: 0px 0px;
}

.m-list-functions__item {
	cursor:pointer;
	display:block;
	padding: 5px;
	position:relative;
	@include transition(all linear 0.25s);
	&:before {
    background: transparent;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
	}
	&:hover,
	&.is-item-panel-active {
		background: $white;
		&:before {
			background: $green-strong-100;
		}
		.m-list-functions__item-icon {
			color: $green-light-100;
		}
	}
}	

.m-list-functions__item-icon {
	color: $gray100;
	display:block;
	width: 35px;
	vertical-align:middle;
}

.m-list-navigation {
	-moz-transition-delay: 0.01ms;
	-o-transition-delay: 0.01ms;
	-webkit-transition-delay: 0.01ms;
	@include transform(translate(100%,0));
	@include transition(transform .3s ease-in-out);
	background: $gray100;
	margin: 0px 50px 0px 0px;
	padding: 0;
	transition-delay: 0.01ms;
	&.is-menu-opened {
		-moz-transition-delay: 0.35s;
		-o-transition-delay: 0.35s;
		-webkit-transition-delay: 0.35s;
		@include transform(translate(0%,0));
		@include transition(transform .3s ease-in-out);
		transition-delay: 0.35s;
	}
}

.m-list-navigation__item {
	display: inline-block;
	a {
		@include transition(all 0.25s linear);
		color: $white;
		cursor: pointer;
		display: block;
		font-weight: 400;
		padding: 10.5px 10px;
		&:hover {
			color: $green-light-100;
			background: $white;
		}
	}
}
