.m-list {
	list-style-type: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.m-list__item {
	display: inline-block;
}

.m-list-maptools {
	@include box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
	background: $white;
	margin: 10px;
}

.m-list-maptools__item {
	padding: 10px;
	cursor:pointer;
	&:hover{
		background: $gray;
		color: $white;
	}
}

.m-list-functions {
	@include box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
	background: #F5F5F5;
	margin:10px;
	padding: 0px 0px;
}

.m-list-functions__item {
	cursor:pointer;
	display:block;
	padding: 7px 10px;
	position:relative;
	@include transition(all linear 0.25s);
	&:before {
    background: transparent;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
	}
	&:hover,
	&.is-item-panel-active {
		background: $white;
		&:before {
			background: $green-sdark;
		}
		.m-list-functions__item-icon {
			color: $green-sdark;
		}
	}
}	

.m-list-functions__item-icon {
	color: $gray;
	display:block;
	font-size: 35px;
	vertical-align:middle;
}

.m-list-navigation {
	//padding: 12px 200px 12px 0px;
	@include transform(translate(100%,0));
	//@include transition(opacity .3s ease-in-out,visibility 0s linear);
	@include transition(transform .3s ease-in-out);
	//background: #d1d7da;
	background: $gray;
	margin: 0px 70px 0px 0px;
	padding: 0;
	&.is-menu-opened {
		@include transform(translate(0%,0));
		@include transition(transform .3s ease-in-out);
	}
}

.m-list-navigation__item {
	display: inline-block;
	a {
		@include transition(all 0.25s linear);
		color: $white;
		cursor: pointer;
		display: block;
		font-weight: 400;
		padding: 20px;
		&:hover {
			color: $green-sdark;
			background: $white;
		}
	}
}

.m-side-panel__locations-list__container {
	padding: 0;
	margin: 0;
}

.m-side-panel__locations-list__list {
	padding: 0;
	margin: 0;
	display: flex;
	display: -webkit-flex;
	align-items: flex-start;
	-webkit-align-items: flex-start;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 100%;
	cursor:pointer;
	position:relative;
	@include transition(background 0.25s ease-in-out);
	&:before {
		background:$gray0;
		bottom:0;
		content:"";
		height: 1px;
		left: 0;
		position:absolute;
		right: 0;
	}
	&:hover {
		background: rgba($gray0,0.25);
	}
	img {
		-webkit-flex: none;
		-ms-flex: none;
		flex: none;
		width: 20px;
		height: 20px;
		margin: 16px 10%;
	}
}

.m-side-panel__locations-list__item {
	margin:0 !important;
	align-self: center;
	-webkit-align-self: center;
}
button.m-side-panel__locations-list__item {
	margin: 6px 0px !important;
}

.m-side-panel__locations-list__item__add {
	cursor:pointer;
}