.m-side-panel {
	@include box-shadow(8px 8px 13px -6px rgba(0,0,0,0.25));
	background: #ffffff;
	bottom: 18px;
	left: 69px;
	position: absolute;
	top: 55px;
	width: 500px;
	opacity: 0;
	overflow:hidden;
	visibility:hidden;
	-webkit-transition: -webkit-clip-path,-webkit-clip-path,opacity, visibility;
	transition: -webkit-clip-path,clip-path,opacity, visibility;
	-webkit-transition-duration: .2s,.5s,.8s;
	transition-duration: .2s,.5s,.8s;
	-webkit-transition-delay: 0s,0s,.3s;
	transition-delay: 0s,0s,.3s;
	-webkit-clip-path: polygon(0 0,-17% 0,0 100%,0 100%);
	clip-path: polygon(0 0,-17% 0,0 100%,0 100%);
	&.is-panel-open {
		opacity: 1;
		visibility:visible;
		-webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
		clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
}

.m-side-panel__title {
	border-bottom: 1px solid #f3f3f3;
	color: $white;
	background: $gray;
	margin: 0;
	padding:10px;
	text-align: left;
}

.m-side-panel__subtitle {
	color: $gray;
	display: inline-block;
	font-weight: normal;
	margin: 0 0 10px 0;
	text-align: left;
}

.m-side-panel__subtitle--in-location-list {
	display:block;
}

.m-side-panel__body {
	bottom: 0;
	left: 10px;
	overflow-y: auto;
	position: absolute;
	right: 0px;
	top: 300px;
}

.m-side-panel__actions {
	padding: 15px 15px 0px;
	text-align: left;
}

.m-side-panel__search {
	padding: 0px 15px 0px;
	md-input-container {
		width: 100%;
		margin-bottom:0;
	}
}

.m-side-panel__list {
	padding: 0px 15px 15px;
}

.m-side-panel__search--in-competence {
	width: 100%;
	md-input-container {
		margin:15px 0px 0px 0px;
	}
}

.m-side-panel__list-titles {
	padding:0px;
}
.m-side-panel__list-titles__column-name {
	border-bottom: 1px solid $gray0;
	font-size: 14px;
	margin:0;
	padding: 5px 0px;
}

.m-side-panel__list--in-competence {
	padding-top:15px;
}

.md-input-container--in-competence {
	margin:0px;
	width: 100%;
}

.m-side-panel__subtitle--in-competence-by-name {
	margin:0;
}

.m-side-panel__content {
	padding: 15px 27px;
}

.m-side-panel__switch {
	position:absolute;
	top:26px;
	right:15px;
	md-switch {
		margin:0;
	}
}

.m-side-panel__actions-columns {
	padding: 0px 20px;
}

.m-side-panel__subtitle--in-locations-actions {
	margin: 0;
}