.m-side-panel {
	@include box-shadow(8px 8px 13px -6px rgba(0,0,0,0.25));
	background: #ffffff;
	bottom: 18px;
	left: 69px;
	position: absolute;
	top: 55px;
	width: 500px;
	opacity: 0;
	overflow:hidden;
	visibility:hidden;
	// z-index:20;
	-webkit-transition: -webkit-clip-path,-webkit-clip-path,opacity, visibility;
	transition: -webkit-clip-path,clip-path,opacity, visibility;
	-webkit-transition-duration: .5s,.5s,.25s;
	transition-duration: .5s,.5s,.25s;
	-webkit-transition-delay: 0s,0s,.3s;
	transition-delay: 0s,0s,.3s;
	-webkit-clip-path: polygon(0 0,-17% 0,0 100%,0 100%);
	clip-path: polygon(0 0,-17% 0,0 100%,0 100%);
	&.is-panel-open {
		opacity: 1;
		visibility:visible;
		-webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
		clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
}

.m-side-panel__title {
	border-bottom: 1px solid #f3f3f3;
	color: $white;
	background: $gray75;
	font-weight: 100;
	margin: 0;
	padding:10px;
	text-align: left;
}

.m-side-panel__subtitle {
	color: $gray50;
	display: inline-block;
	margin: 0 0 10px 0;
	text-align: left;
}

.m-side-panel__actions {
	padding: 15px;
	text-align: left;
}

.m-side-panel__switch {
	position:absolute;
	top:26px;
	right:15px;
	md-switch {
		margin:0;
	}
}

.m-side-panel__search {
	md-input-container {
		width: 100%;
		margin-bottom:0;
	}
}

.m-side-panel__locations {
	
}