# Ignore Directories
!bower_components
bower_components/*
!bower_components/angular-ui-bootstrap
bower_components/angular-ui-bootstrap/*

node_modules
public/*
staging
tmp
.DS_Store
client/.DS_Store
client/sass/.DS_Store
client/components/**/.DS_Store