<md-dialog aria-label="var" class="m-dialog--in-competence__var">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Selector de Variable(s)</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<form name="newHeatmapLayerForm">
			<div class="m-catalog-filter m-catalog-filter--in-competence js-filter-competence-catalog">
				<input type="text" class="m-input m-input--in-demography__catalog m-input--in-competence__catalog" ng-model="search_heatmap" ng-change="quickHeatmapFilter()" placeholder="Filtro rápido">
				<i class="fa fa-search m-search__icon m-search__icon--in-competence-catalog"></i>
			</div>
			<div class="m-catalog-filter m-catalog-filter--in-competence js-filter-competence-catalog">
				<input type="text" class="m-input m-input--in-demography__catalog m-input--in-competence__catalog" ng-model="heatfield.category_name" placeholder="Nombre de categoría simple o compuesta" required>
				<i class="fa fa-pencil m-search__icon m-search__icon--in-competence-catalog"></i>
			</div>
			<div layout="column" style="height: 400px;overflow: hidden;display: block;bottom: 0;left: 0;right: 0;top: 0;width:100% !important;margin: 10px 0;">
				<heat-push-menu menu="menu" options="options_heat"></heat-push-menu>
			</div>
			<div layout-padding="10" ng-if="addingHeatmap">
				<md-progress-linear class="md-primary md-hue-3" md-mode="indeterminate"></md-progress-linear>
			</div>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button class="md-raised md-primary" ng-disabled="newHeatmapLayerForm.$invalid" ng-click="ok(newHeatmapLayerForm, heatfield)" flex="50">Listo</md-button>
		<md-button class="md-raised md-warn" ng-click="cancel()" flex="50">Cancelar</md-button>
	</md-dialog-actions>
</md-dialog>