<div class="modal-header">
	<h3 class="modal-title">Selector de Variables</h3>
</div>
<div class="modal-body">
	<div class="m-modal__demography-variables">
		<ul class="m-modal__demography-variables__list js-variables-list">
			<li ng-repeat="variable in demography.save_variable_list" class="m-modal__demography-variables__list-item" >
				<a ng-class="{'is-not-visible-in-map': variable._variable_id === false}">{{variable._variable_name}}<md-switch ng-model="variable._variable_id" ng-init="variable._variable_id = true" aria-label="Hola" class="m-modal__demography-variables__switch md-primary md-mode-A200" ></md-switch></a>
				
			</li>
		</ul>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="demography.ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="demography.cancel()">Cancel</button>
</div>
<div class="m-modal__demography-list" ng-if="demography.list === true">
	<div class="m-catalog-filter js-filter-demography-catalog">
		<input type="text" class="m-input m-input--in-demography__catalog" ng-model="demography.search" ng-change="demography.quickFilter()" placeholder="Filtro rápido">
	</div>
	<wxy-push-menu menu="demography.menu" options="demography.options"></wxy-push-menu>
</div>