<div class="modal-header">
	<h3 class="modal-title">Selector de Variables</h3>
</div>
<div class="modal-body">
	
	<div class="m-modal__demography-variables">
		<ul class="m-modal__demography-variables__list js-variables-list"></ul>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="demography.ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="demography.cancel()">Cancel</button>
</div>
<div class="m-modal__demography-list" ng-if="demography.list === true">
	<div class="m-catalog-filter js-filter-demography-catalog">
		<input type="text" class="m-input m-input--in-demography__catalog" ng-model="demography.search" ng-change="demography.quickFilter()" placeholder="Filtro rápido">
	</div>
	<wxy-push-menu menu="demography.menu" options="demography.options"></wxy-push-menu>
</div>