<div id="timeRingsBtns" style="position: absolute;top: 50px; left: 50px;">

  <!-- AGREGAR -->
  <div id="divPoint" class="hide">
    <md-fab-speed-dial md-open="false" md-direction="right" ng-class="md-fling" class="md-fab-float">
      <md-fab-trigger>
        <md-button ng-click="startTravelRing()" class="md-fab md-warn" aria-label="bus"><i class="material-icons">room</i></md-button>
      </md-fab-trigger>
    </md-fab-speed-dial>
  </div>


  <!-- Tiempo -->
  <div id="divTime" class="hide">
    <md-fab-speed-dial md-open="false" md-direction="right" ng-class="md-fling" class="md-fab-float">
      <md-fab-trigger>
        <md-button class="md-fab md-warn" aria-label="30 min"><i class="material-icons">av_timer</i></md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button ng-click="setTimeRing(1800)" class="md-fab md-raised md-mini" aria-label="39">30</md-button>
        <md-button ng-click="setTimeRing(1500)" class="md-fab md-raised md-mini" aria-label="25">25</md-button>
        <md-button ng-click="setTimeRing(1200)" class="md-fab md-raised md-mini" aria-label="20">20</md-button>
        <md-button ng-click="setTimeRing(900)" class="md-fab md-raised md-mini" aria-label="15">15</md-button>
        <md-button ng-click="setTimeRing(600)" class="md-fab md-raised md-mini" aria-label="10">10</md-button>
        <md-button ng-click="setTimeRing(300)" class="md-fab md-raised md-mini" aria-label="5">5</md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>

  <!-- Tipo de viaje -->
  <div id="divType" class="hide">
    <md-fab-speed-dial md-open="false" md-direction="right" ng-class="md-fling" class="md-fab-float">
      <md-fab-trigger>
        <md-button class="md-fab md-warn" aria-label="bus"><i class="material-icons">drive_eta</i></md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button ng-click="setTypeRing('transit')" class="md-fab md-raised md-mini" aria-label="transit">transit</md-button>
        <md-button ng-click="setTypeRing('car')" class="md-fab md-raised md-mini" aria-label="car">car</md-button>
        <md-button ng-click="setTypeRing('bike')" class="md-fab md-raised md-mini" aria-label="bike">bike</md-button>
        <md-button ng-click="setTypeRing('walk')" class="md-fab md-raised md-mini" aria-label="walk">walk</md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>



  <!-- Limpiar -->
  <!--md-fab-speed-dial md-open="false" md-direction="right" ng-class="md-fling" class="md-fab-float">
    <md-fab-trigger>
      <md-button ng-click="removeTravelRings()" class="md-fab md-warn" aria-label="bus"><i class="material-icons">delete</i></md-button>
    </md-fab-trigger>
  </md-fab-speed-dial-->

</div>
