.leaflet-draw-draw-polygon--in-accessibility,
.leaflet-draw-draw-circle--in-accessibility {
	background-color: rgb(34,172,155) !important;
}

.polygon-tool--in-accessibility,
.area-tool--in-accessibility {
	&:before{
		color: rgba(255,255,255,0.87) !important;
	}
	
}

.access-car-content {
	margin: 10px 0 20px;
}