.m-modal__demography {
	@include respond-to("medium") {
		.modal-dialog {
			bottom:0;
			margin: 30px auto;
			position:absolute;
			top:0;
			left:56px;
			width: 600px;
		}
		.modal-content {
			height:100%;
			padding-left:40px;
			overflow: hidden;
		}
		.modal-body {
			position: initial;
		}
	}
}

.m-modal__demography-list {
	bottom:0;
	position:absolute;
	top:0;
	left: 0;
	@include transform(translateX(-100%));
	@include transition(translate 0.25s linear);
	&.is-catalog-showed {
		@include transform(translateX(0%));
		@include transition(translate 0.25s linear);
	}
}

