<md-dialog aria-label="search_name" flex="initial" class="m-dialog--in-competence-by-name">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Añadir por búsqueda</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content class="m-dialog__content m-dialog-by-name__content">
			<label class="m-label-mandatory">* <span>Campos obligatorios</span></label>
			<form name="newCompetenceNameForm" class="form--in-by-name">
				<div layout="row">
					<md-input-container flex="100" class="md-block md-input-container--in-by-name">
					<label><strong>*</strong>Nombre exacto del establecimiento</label>
					<input type="text" ng-model="competence_name.query_find" name="competence_name" autocomplete="off" required>
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container flex="100" class="md-block md-input-container--in-by-name">
					<label><strong>*</strong>Nombre personalizado de la competencia para mostrar</label>
					<input type="text" ng-model="competence_name.nm" name="competence_custom_name" autocomplete="off" required>
					</md-input-container>
				</div>
				<div layout="column">
					<h5 class="normal color-gray75" style="margin-top:0;">Subir icono</h5>
					<label layout-align="center center" for="input-icon-id" class="well my-drop-zone" filters="imageFilterByName" nv-file-drop nv-file-over uploader="uploader">Arrastre y suelte o haga click</label>
					<input class="ng-hide" id="input-icon-id" type="file" nv-file-select uploader="uploader" filters="imageFilterByName"/>
					<p class="m-dialog__content-file color-gray50">{{ icon }}</p>
				</div>
				<div layout="row">
					<button class="md-primary md-raised md-button md-ink-ripple" flex="50" ng-click="loadCompetenceName(newCompetenceNameForm, competence_name)" ng-disabled="newCompetenceNameForm.$invalid">Agregar</button>
					<button type="button" class="md-warn md-raised md-hue-2 md-button md-ink-ripple" flex="50" ng-click="cancel()">Cancelar</button>
				</div>
			</form>
			<div layout-padding="10" ng-if="validateIcon">
				<md-progress-linear md-mode="indeterminate" ></md-progress-linear>
			</div>
		</md-dialog-content>
</md-dialog>