#basemap {
	bottom:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:0;
}

.leaflet-draw-toolbar.leaflet-bar.leaflet-draw-toolbar-top,
.leaflet-draw-toolbar.leaflet-bar {
	a {
		border-bottom:0;
		border-left:1px solid #f5f5f5;
		background-image: none;
	}
}

.leaflet-control-layers-expanded {
	padding: 0 !important;
	background: transparent !important;
}

.leaflet-bar,
.leaflet-control-layers {
	box-shadow: 0 1px 2px rgba(0,0,0,0.65) !important;
	border-radius: 0 !important;
}

.leaflet-draw-toolbar.leaflet-bar.leaflet-draw-toolbar-top.leaflet-draw-toolbar-notop{
	& + ul.leaflet-draw-actions-top{
		top: 200px !important;
	}
}

.leaflet-draw-toolbar.leaflet-bar.leaflet-draw-toolbar-top {
	& + ul.leaflet-draw-actions{
		top: 200px !important;
	}
}

.leaflet-draw-toolbar.leaflet-bar.leaflet-draw-toolbar-top.leaflet-draw-toolbar-nobottom {
	& + ul.leaflet-draw-actions-bottom{
		top: 200px !important;
	}
}

.leaflet-draw-toolbar.leaflet-bar.leaflet-draw-toolbar-notop {
	& + ul.leaflet-draw-actions-top{
		top: 80px !important;
	}
}

.leaflet-draw-toolbar.leaflet-bar.leaflet-draw-toolbar-nobottom {
	& + ul.leaflet-draw-actions-bottom{
		top: 80px !important;
	}
}
.leaflet-draw-section {
	>ul.leaflet-draw-actions,
	>ul.leaflet-draw-actions-top,
	>ul.leaflet-draw-actions-bottom {
		left: initial !important;
		right: 0 !important;
		li {
			display:block !important;
			a:not(first-child) {
				border-bottom:1px solid #aaaaaa;
			} 
		}
	}
}



.mapbox-icon {
	background-image:url('../images/icons-000000@2x.png');
}

.leaflet-top.leaflet-left{
	z-index:999;
}

.leaflet-bottom.leaflet-right {
	z-index:999;
}

.leaflet-left{
	right: 0;
	.leaflet-control {
		margin-right: 10px;
	}
}

.leaflet-control-zoom {
	@include box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
	margin-top:60px !important;
	position:absolute !important;
	right: 0;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-draw-draw-polyline,
.leaflet-draw-draw-polygon,
.leaflet-draw-draw-circle,
.leaflet-draw-edit-edit,
.leaflet-draw-edit-remove {
	background-color: $white !important;
	background-image:none;
	border-bottom:none !important;
	cursor:pointer !important;
	height: 35px !important;
	opacity:1 !important;
	width: 35px !important;
}
.leaflet-zoom-in,
.leaflet-zoom-out{
	display:block;
	&:before {
		padding: 8px;
		color: $gray;
		display:block;
	}
	&:hover {
		&:before {
			color: $green-sdark;
		}
	}
}

.line-tool,
.polygon-tool,
.area-tool,
.edit-tool,
.delete-tool {
	display:block;
	&:before {
		color: $gray;
		display:block;
		font-size: 22px;
		padding: 7px 0px;
	}
	&:hover {
		&:before {
			color: $green-sdark;
		}
	}
}

.leaflet-zoom-out {
	&:before {
		padding: 8px 6.5px;
	}
}

.leaflet-draw.leaflet-control {
	float:right;
	top:150px;
}

.leaflet-control-layers.leaflet-control {
  margin-bottom: 20px !important;
  border:0 !important;
  @include box-shadow(none !important);
  @include radius(0);
}

.leaflet-control-layers {
	@include transition(all linear 0.25s);
	background: transparent !important;
	padding: 0;
	.leaflet-control-layers-toggle {
		-moz-user-select: none;
		-ms-touch-action: manipulation;
		-ms-user-select: none;
		-webkit-user-select: none;
		@include box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
		background-image: none;
		background-image: none;
		border-radius: 50% !important;
		border: 0px solid transparent;
		color: $gray;
		cursor: pointer;
		font-weight: 600;
		height: initial;
		opacity:1;
		padding: 0;
		text-decoration: none;
		touch-action: manipulation;
		user-select: none;
		vertical-align: middle;
		white-space: nowrap;
		width: 60px;
		text-transform: uppercase;
		background: $white;
		img {
			background: #ffffff;
			border-radius: 50%;
			-webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.26);
			-moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.26);
			-ms-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.26);
			@include box-shadow(0 5px 5px 0 rgba(0,0,0,0.26));
			display: block;
			height: 60px;
			margin: 0;
			padding: 1px;
			text-align: center;
			width: 60px;
		}
		i {
			&:before{
				font-size: 25px;
			}
			
		}
	}
	.leaflet-control-layers-list {
		@include box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
	}
}

.leaflet-control-layers-base {
	label {
		@include transition(all linear 0.25s);
		cursor: pointer;
		float:left;
		position:relative;
		border-radius:50%;
		&:hover {
			span {
				bottom: 80%;
				display:block;
				right: 50%;
			}
		}
		.leaflet-control-layers-selector {
			display:none;
		}
		span {
			@include transition(all linear 0.25s);
			background: rgba($gray, 0.95);
			border-right: 4px solid $green-ssmooth;
			bottom: 0;
			color: $white;
			display: none;
			font-weight: 600;
			margin: 0 auto;
			padding: 5px;
			position: absolute;
			text-align: center;
			width: 120px;
		}
		img {
			background: $white;
			border-radius: 50%;
			@include box-shadow(0 5px 5px 0 rgba(0,0,0,.26));
			display: block;
			height: 60px;
			margin: 0px 0px 0px 5px;
			padding: 1px;
			text-align: center;
			width: 60px;
		}
	}
}


