.m-search {
	left: 80px;
	position: absolute;
	top:10px;
	z-index:1;
}

.m-search__input {
	@include box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
	border: 0;
	color: $gray;
	font-weight: 400;
	height:40px;
	outline: 0;
	padding: 0px 24px 0px 10px;
	width: 250px;
}

.m-search__icon {
	background: $white;
	cursor:pointer;
	padding: 12px 14.5px;
	position: absolute;
	right: 0px;
	top: 0px;
	//@include box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
}