.m-search {
	position: absolute;
	top:10px;
	left: auto;
	@include transform(translate(-80%,0));
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	-moz-transition: -moz-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	-ms-transition: -ms-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	-o-transition: -o-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	z-index:1;
	&.is-showed-form {
		@include transform(translate(5%,0));
	}
	
}

.m-search__input {
	@include box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
	border: 0;
	outline: 0;
	padding: 0px 24px 0px 10px;
	height: 35px;
	visibility: collapse;
	opacity: 0;
	color: $gray;
	@include transition(opacity .3s ease-in-out,visibility 0s linear .3s);
	&.is-showed-input {
		visibility: visible;
		opacity: 1;
	}
}

.m-search__icon {
	background: $white;
	cursor:pointer;
	padding: 6px 14.5px;
	position: relative;
	right: -6px;
	top: 0px;
	//@include box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
}