<md-content flex layout-padding>
	<p>Para comenzar tu búsqueda para encontrar las mejores ubicaciones, danos más detalles sobre tu negocio y nosotros nos encargaremos de crear un mapa personalizado. Serás capaz de:</p>
	<ul class="m-list--in-ftue">
		<li>Añadir tus ubicaciones actuales.</li>
		<li>Añadir las ubicaciones de tu competencia.</li>
		<li>Identificar ubicaciones potenciales.</li>
		<li>Añadir notas, fotos, documentos, etc para cada ubicación.</li>
		<li>Comenzar a guardar tu mapa con otros marcadores de decisiones.</li>
		<li>Comenzar a usar nuestras herramientas para analizar variables demográficas, tráfico, social y más para ir reduciendo el número de ubicaciones posibles.</li>
	</ul>
	<p>Como siempre, puedes chatear con nosotros o llamarnos al XXXXXX estamos aqui para ayudarte!</p>
</md-content>
<div layout="row" layout-padding="1">
	<form name="ftueForm" form-step-validity>
		<div layout="row" layout-padding="1">
			<md-input-container>
				<label>Nombre de la compañia</label>
				<input ng-model="ftue.company_name" type="text" autocomplete="off" required>
			</md-input-container>
		</div>
	</form>
</div>
