@charset "UTF-8";

/**
 *  Colors
 */

$white: #ffffff;

$gray0: #D3D3D5;
$gray25: #A2A2A7;
$gray50: #828189;
$gray75: #666470;
$gray: #828189;
$green-lsmooth: #cbdf7d;
$green-lmedium: #acd08c;
$green-ldark: #82c341;
$green-ssmooth: #6fc9c4;
$green-smedium: #00b8b0;
$green-sdark: #22ac9b;