@charset "UTF-8";

/**
 *	Fonts
 */
 
		/*
		Flaticon icon font: Flaticon
		Creation date: 15/04/2016 01:15
		*/

@font-face {
  font-family: "demo";
  src: url("../fonts/demo.eot");
  src: url("../fonts/demo.eot?#iefix") format("embedded-opentype"),
       url("../fonts/demo.woff") format("woff"),
       url("../fonts/demo.ttf") format("truetype"),
       url("../fonts/demo.svg#demo") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "demo";
    src: url("../fonts/demo.svg#demo") format("svg");
  }
}

.demo:before{
    display: inline-block;
  font-family: "demo";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.demo-accessibility:before { content: "\f100"; }
.demo-accessibility1:before { content: "\f101"; }
.demo-area:before { content: "\f102"; }
.demo-area1:before { content: "\f103"; }
.demo-competence:before { content: "\f104"; }
.demo-demography:before { content: "\f105"; }
.demo-demography1:before { content: "\f106"; }
.demo-heatmap:before { content: "\f107"; }
.demo-historic:before { content: "\f108"; }
.demo-line:before { content: "\f109"; }
.demo-locations:before { content: "\f10a"; }
.demo-locations1:before { content: "\f10b"; }
.demo-origin-destiny:before { content: "\f10c"; }
.demo-origin-destiny1:before { content: "\f10d"; }
.demo-potencial-location:before { content: "\f10e"; }
.demo-radio:before { content: "\f10f"; }
.demo-rings:before { content: "\f110"; }
.demo-search:before { content: "\f111"; }
.demo-zoom-in:before { content: "\f112"; }
.demo-zoom-out:before { content: "\f113"; }
    
$font-demo-accessibility: "\f100";
$font-demo-accessibility1: "\f101";
$font-demo-area: "\f102";
$font-demo-area1: "\f103";
$font-demo-competence: "\f104";
$font-demo-demography: "\f105";
$font-demo-demography1: "\f106";
$font-demo-heatmap: "\f107";
$font-demo-historic: "\f108";
$font-demo-line: "\f109";
$font-demo-locations: "\f10a";
$font-demo-locations1: "\f10b";
$font-demo-origin-destiny: "\f10c";
$font-demo-origin-destiny1: "\f10d";
$font-demo-potencial-location: "\f10e";
$font-demo-radio: "\f10f";
$font-demo-rings: "\f110";
$font-demo-search: "\f111";
$font-demo-zoom-in: "\f112";
$font-demo-zoom-out: "\f113";