@charset "UTF-8";

/**
 *	Fonts
 */
 
		/*
		demo icon font: demo
		Creation date: 15/04/2016 01:15
		*/


@font-face {
  font-family: "demo";
  src: url("../fonts/demo.eot");
  src: url("../fonts/demo.eot?#iefix") format("embedded-opentype"),
       url("../fonts/demo.woff") format("woff"),
       url("../fonts/demo.ttf") format("truetype"),
       url("../fonts/demo.svg#demo") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="demo-"], [class*=" demo-"] {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'demo' !important;
    font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}

.demo-historic:before {
    content: "\e903";
}
.demo-demography:before {
    content: "\e906";
}
.demo-competence:before {
    content: "\e900";
}
.demo-heatmap:before {
    content: "\e901";
}
.demo-location:before {
    content: "\e90e";
}
.demo-origin-destiny:before {
    content: "\e90a";
}
.demo-rings:before {
    content: "\e905";
}
.demo-accessibility:before {
    content: "\e902";
}
.demo-area:before {
    content: "\e904";
}
.demo-delete:before {
    content: "\e907";
}
.demo-edit:before {
    content: "\e909";
}
.demo-line:before {
    content: "\e90c";
}
.demo-locations:before {
    content: "\e90d";
}
.demo-potencial-location:before {
    content: "\e910";
}
.demo-radio:before {
    content: "\e911";
}
.demo-search:before {
    content: "\e913";
}
.demo-zoom-in:before {
    content: "\e914";
}
.demo-zoom-out:before {
    content: "\e915";
}

.fa {
  color: $gray25;
}







