<md-dialog aria-label="csv">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Añadir mis ubicaciones</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content class="m-dialog__content">
			<div layout-padding="5" class="md-dialog-content" layout-fill filters="customFilter" nv-file-drop nv-file-over uploader="uploader">
				<div class="well my-drop-zone">Arrastre y suelte su archivo aquí</div>
				<p class="m-dialog__content-file" ng-repeat="item in uploader.queue">{{ item.file.name }}</p>
			</div>
			<div layout-padding="10" ng-if="validateFile">
				<md-progress-linear md-mode="indeterminate" ></md-progress-linear>
			</div>
		</md-dialog-content>
		<md-dialog-actions>
			<button class="md-primary md-raised md-hue-2 md-button md-ink-ripple" flex="50" ng-click="uploader.loadFile()">Subir archivo</button>
			<button class="md-warn md-raised md-hue-2 md-button md-ink-ripple" flex="50" ng-click="cancel()">Cancelar</button>
		</md-dialog-actions>
	</form>
</md-dialog>