<h3 class="m-side-panel__title">Accesibilidad</h3>
<span class="accessibility-tools">
  <section layout="row" layout-align="center center">
    <md-button class="groupX left leaflet-draw-draw-polyline" title="Dibujar Líneas" ng-click="drawInMap($event,'line')">
      <i class="demo demo-line line-tool"></i>
    </md-button>
    <md-button class="groupX middle leaflet-draw-draw-polygon" title="Dibujar Poligono" ng-click="drawInMap($event,'polygon')">
      <i class="demo demo-area polygon-tool"></i>
    </md-button>
    <md-button class="groupX right leaflet-draw-draw-circle" title="Dibujar Radio" ng-click="drawInMap($event,'circle')">
      <i class="demo demo-radio area-tool"></i>
    </md-button>
  </section>
</span>
<div>
  <div id="access_car_content">

    <div class="m-side-panel__header">
      <h4 class="m-side-panel__subtitle m-side-panel__subtitle--in-location-list">
        Vías de acceso vehicular
      </h4>
    </div>
    <md-list>
      <md-list-item>
        <img ng-src="images/accessibility/highway.png"></img>
        <p>Primarias</p>
        <p id="accessNumP">0</p>
      </md-list-item>
      <md-list-item>
        <img ng-src="images/accessibility/road-with-broken-line.png"></img>
        <p>Secundarias</p>
        <p id="accessNumS">0</p>
      </md-list-item>
      <md-list-item>
        <img ng-src="images/accessibility/speedometer.png"></img>
        <p>Terciarias</p>
        <p id="accessNumT">0</p>
      </md-list-item>
    </md-list>

    <div class="m-side-panel__header" id="contAccesTrans" style="display:none">
      <h4 class="m-side-panel__subtitle m-side-panel__subtitle--in-location-list">
        Vías de acceso en transporte
      </h4>
    </div>
    <md-list id="listAccessTrans">
    </md-list>

    <!--div class="m-side-panel__list m-side-panel__list--in-accessibility-panel-predefined" style="top: 120px !important;">
      <ul class="m-side-panel__list-content">
        <li class="m-side-panel__list-content__item js-accessibility-item">
          <div flex="10"><img ng-src="images/accessibility/highway.png" /></div>
          <p flex="50" class="m-side-panel__list-content__item-single">Primarias</p>
          <p id="accessNumP" flex="40" class="m-side-panel__list-content__item-single">0</p>
        </li>
        <li class="m-side-panel__list-content__item js-accessibility-item">
          <div flex="10"><img ng-src="images/accessibility/road-with-broken-line.png" /></div>
          <p flex="50" class="m-side-panel__list-content__item-single">Secundarias</p>
          <p id="accessNumS" flex="40" class="m-side-panel__list-content__item-single">0</p>
        </li>
        <li class="m-side-panel__list-content__item js-accessibility-item">
          <div flex="10"><img ng-src="images/accessibility/speedometer.png" /></div>
          <p flex="50" class="m-side-panel__list-content__item-single">Terciarias</p>
          <p id="accessNumT" flex="40" class="m-side-panel__list-content__item-single">0</p>
        </li>
      </ul>
    </div-->

    <!--md-list role="list">
      <md-list-item class="md-3-line _md-no-proxy ng-scope _md" role="listitem">
        <img ng-src="images/accessibility/highway.png" class="md-avatar" alt="Min Li Chan" src="img/list/60.jpeg?0">
        <div class="md-list-item-text">
          <h4 class="ng-binding">Primarias</h4>
        </div>
        <md-divider md-inset="" ng-if="!$last" class="ng-scope"></md-divider>
      </md-list>
      <div class="_md-secondary-container"></div></md-list-item-->
  </div>
  <!--p>Vías de acceso en transporte</p-->
  <p></p>
  <div id="access_trans_content"></div>
  <!--button id="btnOpenWMS" ng-click="openViasWMS()">Abrirr vias wms</button-->
</div>
</div>
